<section class="section section-who-wrote-this-ebook" id="authors">
    <div class="container">
        <header class="section__header">
            <h3 class="section__header-title"><span class="section__header-title-content--large">Who wrote this e-book?</span><span class="section__header-title-content--small">Authors</span></h3>
        </header>
        <div class="section-who-wrote-this-ebook__row">
            <div class="section-who-wrote-this-ebook__col">
                <div class="section-who-wrote-this-ebook__author"><img class="section-who-wrote-this-ebook__author-picture" src="assets/images/users/mateusz-kubiczek.jpg" alt="Mateusz Kubiczek">
                    <h5 class="section-who-wrote-this-ebook__author-name">Mateusz Kubiczek</h5>
                    <p class="section-who-wrote-this-ebook__author-description">CEO at The Software House with more than 10 years of experience in building web and mobile apps.</p>
                </div>
            </div>
            <div class="section-who-wrote-this-ebook__col">
                <div class="section-who-wrote-this-ebook__author"><img class="section-who-wrote-this-ebook__author-picture" src="assets/images/users/marcin-mazurek.jpg" alt="Marcin Mazurek">
                    <h5 class="section-who-wrote-this-ebook__author-name">Marcin Mazurek</h5>
                    <p class="section-who-wrote-this-ebook__author-description">An advocate of bespoke software solutions which can transform business, Sales Director at The Software House.</p>
                </div>
            </div>
            <div class="section-who-wrote-this-ebook__col">
                <div class="section-who-wrote-this-ebook__author"><img class="section-who-wrote-this-ebook__author-picture" src="assets/images/users/patryk-mamczur.jpg" alt="Patryk Mamczur">
                    <h5 class="section-who-wrote-this-ebook__author-name">Patryk Mamczur</h5>
                    <p class="section-who-wrote-this-ebook__author-description">A devoted tech enthusiast and an internet culture lover, currently Copywriter at The Software House.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-who-wrote-this-ebook" id="authors">
    <div class="container">
        <header class="section__header">
            <h3 class="section__header-title"><span class="section__header-title-content--large">Who wrote this e-book?</span><span class="section__header-title-content--small">Authors</span></h3>
        </header>
        <div class="section-who-wrote-this-ebook__row">
            <div class="section-who-wrote-this-ebook__col">
                <div class="section-who-wrote-this-ebook__author"><img class="section-who-wrote-this-ebook__author-picture" src="assets/images/users/mateusz-kubiczek.jpg" alt="Mateusz Kubiczek">
                    <h5 class="section-who-wrote-this-ebook__author-name">Mateusz Kubiczek</h5>
                    <p class="section-who-wrote-this-ebook__author-description">CEO at The Software House with more than 10 years of experience in building web and mobile apps.</p>
                </div>
            </div>
            <div class="section-who-wrote-this-ebook__col">
                <div class="section-who-wrote-this-ebook__author"><img class="section-who-wrote-this-ebook__author-picture" src="assets/images/users/marcin-mazurek.jpg" alt="Marcin Mazurek">
                    <h5 class="section-who-wrote-this-ebook__author-name">Marcin Mazurek</h5>
                    <p class="section-who-wrote-this-ebook__author-description">An advocate of bespoke software solutions which can transform business, Sales Director at The Software House.</p>
                </div>
            </div>
            <div class="section-who-wrote-this-ebook__col">
                <div class="section-who-wrote-this-ebook__author"><img class="section-who-wrote-this-ebook__author-picture" src="assets/images/users/patryk-mamczur.jpg" alt="Patryk Mamczur">
                    <h5 class="section-who-wrote-this-ebook__author-name">Patryk Mamczur</h5>
                    <p class="section-who-wrote-this-ebook__author-description">A devoted tech enthusiast and an internet culture lover, currently Copywriter at The Software House.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-who-wrote-this-ebook" id="authors">
    <div class="container">
        <header class="section__header">
            <h3 class="section__header-title"><span class="section__header-title-content--large">Who wrote this e-book?</span><span class="section__header-title-content--small">Authors</span></h3>
        </header>
        <div class="section-who-wrote-this-ebook__row">
            <div class="section-who-wrote-this-ebook__col">
                <div class="section-who-wrote-this-ebook__author"><img class="section-who-wrote-this-ebook__author-picture" src="assets/images/users/mateusz-kubiczek.jpg" alt="Mateusz Kubiczek">
                    <h5 class="section-who-wrote-this-ebook__author-name">Mateusz Kubiczek</h5>
                    <p class="section-who-wrote-this-ebook__author-description">CEO at The Software House with more than 10 years of experience in building web and mobile apps.</p>
                </div>
            </div>
            <div class="section-who-wrote-this-ebook__col">
                <div class="section-who-wrote-this-ebook__author"><img class="section-who-wrote-this-ebook__author-picture" src="assets/images/users/marcin-mazurek.jpg" alt="Marcin Mazurek">
                    <h5 class="section-who-wrote-this-ebook__author-name">Marcin Mazurek</h5>
                    <p class="section-who-wrote-this-ebook__author-description">An advocate of bespoke software solutions which can transform business, Sales Director at The Software House.</p>
                </div>
            </div>
            <div class="section-who-wrote-this-ebook__col">
                <div class="section-who-wrote-this-ebook__author"><img class="section-who-wrote-this-ebook__author-picture" src="assets/images/users/patryk-mamczur.jpg" alt="Patryk Mamczur">
                    <h5 class="section-who-wrote-this-ebook__author-name">Patryk Mamczur</h5>
                    <p class="section-who-wrote-this-ebook__author-description">A devoted tech enthusiast and an internet culture lover, currently Copywriter at The Software House.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-who-wrote-this-ebook" id="authors">
    <div class="container">
        <header class="section__header">
            <h3 class="section__header-title"><span class="section__header-title-content--large">Who wrote this e-book?</span><span class="section__header-title-content--small">Authors</span></h3>
        </header>
        <div class="section-who-wrote-this-ebook__row">
            <div class="section-who-wrote-this-ebook__col">
                <div class="section-who-wrote-this-ebook__author"><img class="section-who-wrote-this-ebook__author-picture" src="assets/images/users/mateusz-kubiczek.jpg" alt="Mateusz Kubiczek">
                    <h5 class="section-who-wrote-this-ebook__author-name">Mateusz Kubiczek</h5>
                    <p class="section-who-wrote-this-ebook__author-description">CEO at The Software House with more than 10 years of experience in building web and mobile apps.</p>
                </div>
            </div>
            <div class="section-who-wrote-this-ebook__col">
                <div class="section-who-wrote-this-ebook__author"><img class="section-who-wrote-this-ebook__author-picture" src="assets/images/users/marcin-mazurek.jpg" alt="Marcin Mazurek">
                    <h5 class="section-who-wrote-this-ebook__author-name">Marcin Mazurek</h5>
                    <p class="section-who-wrote-this-ebook__author-description">An advocate of bespoke software solutions which can transform business, Sales Director at The Software House.</p>
                </div>
            </div>
            <div class="section-who-wrote-this-ebook__col">
                <div class="section-who-wrote-this-ebook__author"><img class="section-who-wrote-this-ebook__author-picture" src="assets/images/users/patryk-mamczur.jpg" alt="Patryk Mamczur">
                    <h5 class="section-who-wrote-this-ebook__author-name">Patryk Mamczur</h5>
                    <p class="section-who-wrote-this-ebook__author-description">A devoted tech enthusiast and an internet culture lover, currently Copywriter at The Software House.</p>
                </div>
            </div>
        </div>
    </div>
</section>
