<section class="section section-who-was-the-expert-consultant" id="experts">
    <header class="section__header">
        <h3 class="section__header-title">Who was the expert consultant?</h3>
    </header>
    <div class="container">
        <div class="section-who-was-the-expert-consultant__person-list">
            <div class="section-who-was-the-expert-consultant__person" tabindex="0" role="tabpanel" id="slick-slide10" aria-describedby="slick-slide-control10" style="">
                <div class="section-who-was-the-expert-consultant__person-content">
                    <div class="section-who-was-the-expert-consultant__person-image-wrapper"><img class="section-who-was-the-expert-consultant__person-image" src="assets/images/users/dave-hecker.jpg" alt="Dave Hecker"></div>
                    <div class="section-who-was-the-expert-consultant__person-meta">
                        <h5 class="section-who-was-the-expert-consultant__person-name">Dave Hecker</h5>
                        <p class="section-who-was-the-expert-consultant__person-title">Co-founder of SourceSeek</p>
                        <p class="section-who-was-the-expert-consultant__person-description">"Time zones have effect on outsourced projects but the importance of time zones is often exaggerated. In most cases – a few hours of overlap will be enough. If you are certain you need more, either your application is unusually
                            complicated or there is something lacking in your development workflow."</p>
                    </div>
                </div>
            </div>
            <div class="section-who-was-the-expert-consultant__person" tabindex="0" role="tabpanel" id="slick-slide11" aria-describedby="slick-slide-control11" style="">
                <div class="section-who-was-the-expert-consultant__person-content">
                    <div class="section-who-was-the-expert-consultant__person-image-wrapper"><img class="section-who-was-the-expert-consultant__person-image" src="assets/images/users/monika-mikowska.jpg" alt="Monika Mikowska"></div>
                    <div class="section-who-was-the-expert-consultant__person-meta">
                        <h5 class="section-who-was-the-expert-consultant__person-name">Monika Mikowska</h5>
                        <p class="section-who-was-the-expert-consultant__person-title">CEO of Mobee Dick</p>
                        <p class="section-who-was-the-expert-consultant__person-description">"Development is not everything – you should always start with business and technical analysis. We have already worked with a few companies which contacted us with the intention of developing an app but realised – after
                            the consultations – that it would be a waste of time and money. Each time they were extremely thankful for discouraging them from making the mistake."</p>
                    </div>
                </div>
            </div>
            <div class="section-who-was-the-expert-consultant__person" tabindex="-1" role="tabpanel" id="slick-slide12" aria-describedby="slick-slide-control11" style="">
                <div class="section-who-was-the-expert-consultant__person-content">
                    <div class="section-who-was-the-expert-consultant__person-image-wrapper"><img class="section-who-was-the-expert-consultant__person-image" src="assets/images/users/paul-walentynowicz.jpg" alt="Paul Walentynowicz"></div>
                    <div class="section-who-was-the-expert-consultant__person-meta">
                        <h5 class="section-who-was-the-expert-consultant__person-name">Paul Walentynowicz</h5>
                        <p class="section-who-was-the-expert-consultant__person-title">Founder of PWCIB</p>
                        <p class="section-who-was-the-expert-consultant__person-description">"The most important trend on the today IT market is the ongoing automation and robotisation. It is going to change the world of outsourcing significantly. Simple data processing – those tasks which were usually moved to
                            Asia – are going to be automated, as it is becoming less and less expensive. Therefore, end-of-the-value-chain countries may lose a lot."</p>
                    </div>
                </div>
            </div>
            <div class="section-who-was-the-expert-consultant__person" tabindex="-1" role="tabpanel" id="slick-slide13" aria-describedby="slick-slide-control13" style="">
                <div class="section-who-was-the-expert-consultant__person-content">
                    <div class="section-who-was-the-expert-consultant__person-image-wrapper"><img class="section-who-was-the-expert-consultant__person-image" src="assets/images/users/clayton-kenerson.jpg" alt="Clayton Kenerson"></div>
                    <div class="section-who-was-the-expert-consultant__person-meta">
                        <h5 class="section-who-was-the-expert-consultant__person-name">Clayton Kenerson</h5>
                        <p class="section-who-was-the-expert-consultant__person-title">Senior Business Analyst at Clutch.co</p>
                        <p class="section-who-was-the-expert-consultant__person-description">“Early in the evolution of outsourcing, blue chips could take advantage of outsourcing because of the amount they could invest in the infrastructure. Now, through the decentralisation of trust, first-time entrepreneurs
                            and small business owners can access the same international talent without high investment or the risk.”</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-who-was-the-expert-consultant" id="experts">
    <header class="section__header">
        <h3 class="section__header-title">Who was the expert consultant?</h3>
    </header>
    <div class="container">
        <div class="section-who-was-the-expert-consultant__person-list">
            <div class="section-who-was-the-expert-consultant__person" tabindex="0" role="tabpanel" id="slick-slide10" aria-describedby="slick-slide-control10" style="">
                <div class="section-who-was-the-expert-consultant__person-content">
                    <div class="section-who-was-the-expert-consultant__person-image-wrapper"><img class="section-who-was-the-expert-consultant__person-image" src="assets/images/users/dave-hecker.jpg" alt="Dave Hecker"></div>
                    <div class="section-who-was-the-expert-consultant__person-meta">
                        <h5 class="section-who-was-the-expert-consultant__person-name">Dave Hecker</h5>
                        <p class="section-who-was-the-expert-consultant__person-title">Co-founder of SourceSeek</p>
                        <p class="section-who-was-the-expert-consultant__person-description">"Time zones have effect on outsourced projects but the importance of time zones is often exaggerated. In most cases – a few hours of overlap will be enough. If you are certain you need more, either your application is unusually
                            complicated or there is something lacking in your development workflow."</p>
                    </div>
                </div>
            </div>
            <div class="section-who-was-the-expert-consultant__person" tabindex="0" role="tabpanel" id="slick-slide11" aria-describedby="slick-slide-control11" style="">
                <div class="section-who-was-the-expert-consultant__person-content">
                    <div class="section-who-was-the-expert-consultant__person-image-wrapper"><img class="section-who-was-the-expert-consultant__person-image" src="assets/images/users/monika-mikowska.jpg" alt="Monika Mikowska"></div>
                    <div class="section-who-was-the-expert-consultant__person-meta">
                        <h5 class="section-who-was-the-expert-consultant__person-name">Monika Mikowska</h5>
                        <p class="section-who-was-the-expert-consultant__person-title">CEO of Mobee Dick</p>
                        <p class="section-who-was-the-expert-consultant__person-description">"Development is not everything – you should always start with business and technical analysis. We have already worked with a few companies which contacted us with the intention of developing an app but realised – after
                            the consultations – that it would be a waste of time and money. Each time they were extremely thankful for discouraging them from making the mistake."</p>
                    </div>
                </div>
            </div>
            <div class="section-who-was-the-expert-consultant__person" tabindex="-1" role="tabpanel" id="slick-slide12" aria-describedby="slick-slide-control11" style="">
                <div class="section-who-was-the-expert-consultant__person-content">
                    <div class="section-who-was-the-expert-consultant__person-image-wrapper"><img class="section-who-was-the-expert-consultant__person-image" src="assets/images/users/paul-walentynowicz.jpg" alt="Paul Walentynowicz"></div>
                    <div class="section-who-was-the-expert-consultant__person-meta">
                        <h5 class="section-who-was-the-expert-consultant__person-name">Paul Walentynowicz</h5>
                        <p class="section-who-was-the-expert-consultant__person-title">Founder of PWCIB</p>
                        <p class="section-who-was-the-expert-consultant__person-description">"The most important trend on the today IT market is the ongoing automation and robotisation. It is going to change the world of outsourcing significantly. Simple data processing – those tasks which were usually moved to
                            Asia – are going to be automated, as it is becoming less and less expensive. Therefore, end-of-the-value-chain countries may lose a lot."</p>
                    </div>
                </div>
            </div>
            <div class="section-who-was-the-expert-consultant__person" tabindex="-1" role="tabpanel" id="slick-slide13" aria-describedby="slick-slide-control13" style="">
                <div class="section-who-was-the-expert-consultant__person-content">
                    <div class="section-who-was-the-expert-consultant__person-image-wrapper"><img class="section-who-was-the-expert-consultant__person-image" src="assets/images/users/clayton-kenerson.jpg" alt="Clayton Kenerson"></div>
                    <div class="section-who-was-the-expert-consultant__person-meta">
                        <h5 class="section-who-was-the-expert-consultant__person-name">Clayton Kenerson</h5>
                        <p class="section-who-was-the-expert-consultant__person-title">Senior Business Analyst at Clutch.co</p>
                        <p class="section-who-was-the-expert-consultant__person-description">“Early in the evolution of outsourcing, blue chips could take advantage of outsourcing because of the amount they could invest in the infrastructure. Now, through the decentralisation of trust, first-time entrepreneurs
                            and small business owners can access the same international talent without high investment or the risk.”</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>