<div class="header-wrapper">
    <header class="header">
        <div class="container">
            <div class="header__content">
                <a href="javascrit:void(0)" class="header__logo">  </a>
                <ul class="header__menu">
                    <li class="header__menu-item" ><a routerLink="/home" class="header__menu-link">Home</a></li>
                    <li class="header__menu-item" ><a routerLink="/services" class="header__menu-link">Services</a></li>
                    <li class="header__menu-item" ><a routerLink="/technology" class="header__menu-link">Technology</a></li>
                    <li class="header__menu-item" ><a routerLink="/portfolio" class="header__menu-link">Portfolio</a></li>
                    <li class="header__menu-item" ><a routerLink="/contact" class="header__menu-link">Contact</a></li>
                </ul>
                <ul class="social-links header__social-links">
                    <li class="social-links__item"><a href="https://www.linkedin.com/company/2632812/" target="_blank" rel="noreferrer noopener" class="social-links__link"><i class="mdi mdi-linkedin social-links__link-icon"></i></a></li>
                    <li class="social-links__item"><a href="https://web.facebook.com/TheSoftwareHousePL/" target="_blank" rel="noreferrer noopener" class="social-links__link"><i class="mdi mdi-facebook social-links__link-icon"></i></a></li>
                    <li class="social-links__item"><a href="https://twitter.com/realtsh" target="_blank" rel="noreferrer noopener" class="social-links__link"><i class="mdi mdi-twitter social-links__link-icon"></i></a></li>
                    <li class="social-links__item"><a href="https://www.behance.net/thesoftwarehouse" target="_blank" rel="noreferrer noopener" class="social-links__link"><i class="mdi mdi-behance social-links__link-icon"></i></a></li>
                    <li class="social-links__item"><a href="https://clutch.co/profile/software-house" target="_blank" rel="noreferrer noopener" class="social-links__link header__link"><svg xmlns="http:/www.w3.org/2000/svg" class="social-links__link-icon social-links__link-icon--image" viewBox="0 0 70.2 79.3"><path class="a" d="M54.8 56.2a22.35 22.35 0 0 1-15.1 5.6c-12.8 0-22.2-9.4-22.2-22.3s9.1-21.9 22.2-21.9a22.9 22.9 0 0 1 15.2 5.5l2.8 2.4 12.4-12.4-3.1-2.9A40.13 40.13 0 0 0 39.7 0C16.7 0 0 16.6 0 39.4s17.1 39.9 39.7 39.9a40.14 40.14 0 0 0 27.5-10.4l3-2.8-12.6-12.4z"></path><circle class="a" cx="39.1" cy="39.6" r="13.3"></circle></svg></a></li>
                </ul><button type="button" class="header__get-it-button">Get it!</button></div>
        </div>
    </header>
</div>
<router-outlet></router-outlet>
<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <a href="http://tsh.io/" class="footer__logo"></a>
            <ul class="social-links footer__social-links">
                <li class="social-links__item"><a href="https://www.linkedin.com/company/2632812/" target="_blank" rel="noreferrer noopener" class="social-links__link"><i class="mdi mdi-linkedin social-links__link-icon"></i></a></li>
                <li class="social-links__item"><a href="https://web.facebook.com/TheSoftwareHousePL/" target="_blank" rel="noreferrer noopener" class="social-links__link"><i class="mdi mdi-facebook social-links__link-icon"></i></a></li>
                <li class="social-links__item"><a href="https://twitter.com/realtsh" target="_blank" rel="noreferrer noopener" class="social-links__link"><i class="mdi mdi-twitter social-links__link-icon"></i></a></li>
                <li class="social-links__item"><a href="https://www.behance.net/thesoftwarehouse" target="_blank" rel="noreferrer noopener" class="social-links__link"><i class="mdi mdi-behance social-links__link-icon"></i></a></li>
                <li class="social-links__item"><a href="https://clutch.co/profile/software-house" target="_blank" rel="noreferrer noopener" class="social-links__link footer__link"><svg xmlns="http:/www.w3.org/2000/svg" class="social-links__link-icon social-links__link-icon--image" viewBox="0 0 70.2 79.3"><path class="a" d="M54.8 56.2a22.35 22.35 0 0 1-15.1 5.6c-12.8 0-22.2-9.4-22.2-22.3s9.1-21.9 22.2-21.9a22.9 22.9 0 0 1 15.2 5.5l2.8 2.4 12.4-12.4-3.1-2.9A40.13 40.13 0 0 0 39.7 0C16.7 0 0 16.6 0 39.4s17.1 39.9 39.7 39.9a40.14 40.14 0 0 0 27.5-10.4l3-2.8-12.6-12.4z"></path><circle class="a" cx="39.1" cy="39.6" r="13.3"></circle></svg></a></li>
            </ul>
        </div>
    </div>
</footer>